
@import url('https://fonts.googleapis.com/css2? family = Anton & display = swap'); 

* {
    box-sizing: border-box;
    margin: 0;
    
}

ul, li, a {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color:black;
    text-decoration: none;
}

header {  
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    width: 100%;
    background-color: grey;
}
.logo {
    cursor: pointer;

    }

.navBar {
        list-style: none;
    }

.navBar li {
        display: inline-block;
        padding: 20px;



    }

.navBar li a {
        transition: all 0.3s ease 0s;
    }
.navBar li a:hover {
    color: cornsilk;
}
input {
    padding: 9px 15px;

}
